*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../img/f2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media screen and (max-width:680px) {
    body{
        background: url("../img/fondo_phone.jpg"); 
        background-size: cover;
        background-repeat: no-repeat;
       }
}